.padding-card{
    padding: 10px;
}

.i-flex{
    display: inline-block;
}

.little-down{
    margin-top: 7%;
}

.card-round{
    border-radius: 10px;
    padding: 15px;
    width: 20.5%;
}

.shadow{
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
}